{{- define "headTpl" -}}
{{- partial "head/preload-css" (dict "href" "/css/cases.css") -}}
<style type="text/css">
  .contact-us .contact-form {
    margin: 80px auto;
  }

  .academy-link {
    color: #3a59f0;
  }
</style>
{{- end -}}

{{- define "main" -}}
{{ $heading := "TiDB Community" }}
<div class="contact-us">
  {{- partial "layout/hero.html" (dict "heading" $heading) -}}
  <div class="container" style="padding: 0 1rem; min-height: 300px;">
    <div style="margin-top: 150px; max-width: 33rem; margin-left: auto; margin-right: auto; font-size: 0.9rem; line-height: 1.7;">
        This is the dedicated TiDB Community page, where you can find the most up to date information on the latest events,
        meetups, conferences, and other activities related to TiDB. Please check back again soon, as we build out the content
        for this page.
    </div>
  </div>
</div>
{{- end -}}
