[submodule "content/weekly"]
	path = content/weekly
	url = https://github.com/pingcap/weekly
[submodule "content/docs"]
	path = content/docs
	url = https://github.com/pingcap/docs
[submodule "content/docs-cn"]
	path = content/docs-cn
	url = https://github.com/pingcap/docs-cn
[submodule "content/blog-cn"]
	path = content/blog-cn
	url = https://github.com/pingcap/blog-cn
[submodule "content/meetup"]
	path = content/meetup
	url = https://github.com/pingcap/meetup
[submodule "content/blog"]
	path = content/blog
	url = https://github.com/pingcap/blog
