[submodule "content/blog"]
	path = content/blog
	url = git@github.com:pingcap/blog.git
    branch = website-preview
[submodule "content/docs-cn"]
	path = content/docs-cn
	url = https://github.com/lilin90/docs-cn.git
    branch = add-version-switcher
[submodule "content/docs"]
	path = content/docs
	url = https://github.com/morgo/docs.git
    branch = version-split
