[submodule "content/docs-cn"]
	path = content/docs-cn
	url = https://github.com/pingcap/docs-cn
  branch = website-preview
[submodule "content/blog"]
	path = content/blog
	url = https://github.com/pingcap/blog
  branch = website-preview
