<div class="contributor-item">
    <div class="github-avatar">
        <img src="{{.contributor.avatar_url}}" width="36px" height="36px"/>
    </div>
    <div class="contributor-info">
        <div class="contributor-name"><a href="https://github.com/{{.contributor.login}}">{{ .contributor.login }}</a></div>
        <div class="contribution-degree">
                {{- if and (gt .contributor.contributions 0) (or (lt .contributor.contributions 10) (eq (string .contributor.contributions) (string 10))) -}}
                    <div style="width: 10px; height: 10px; background: #D6E588; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #8D8D8D; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #8D8D8D; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #8D8D8D; border-radius: 50%; display: inline-block;"></div>
                {{- end -}}
                {{- if and (gt .contributor.contributions 10) (or (lt .contributor.contributions 50) (eq (string .contributor.contributions) (string 50))) -}}
                    <div style="width: 10px; height: 10px; background: #D6E588; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #8BC669; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #8D8D8D; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #8D8D8D; border-radius: 50%; display: inline-block;"></div>
                {{- end -}}
                {{- if and (gt .contributor.contributions 50) (or (lt .contributor.contributions 100) (eq (string .contributor.contributions) (string 100))) -}}
                    <div style="width: 10px; height: 10px; background: #D6E588; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #8BC669; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #3EA541; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #8D8D8D; border-radius: 50%; display: inline-block;"></div>
                {{- end -}}
                {{- if gt .contributor.contributions 100 -}}
                    <div style="width: 10px; height: 10px; background: #D6E588; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #8BC669; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #3EA541; border-radius: 50%; display: inline-block;"></div>
                    <div style="width: 10px; height: 10px; background: #1C6825; border-radius: 50%; display: inline-block;"></div>
                {{- end -}}
        </div>
    </div>
</div> 
