{{ $d := (div (len .contributors) 5) }}
{{ $order := .order }}
<div class="modal-content">
    <div class="modal-header">
        <div class="github-logo">
            <img src="/images/svgs/github-logo.svg"/ style="height: 60%; margin-top: 9.5px;">
        </div>
        <div class="header-text">Thank you for your contribution!</div>
    </div>
    <div class="contributor-lists">
        {{- range $elem_index, $elem_val := .contributors -}}
            {{- if lt $order 4 -}}
                {{- if and (ge $elem_index (mul $order $d)) (lt $elem_index (mul (add 1 $order) $d)) -}}
                    {{- partial "tidb-planet/contributor-item" (dict "contributor" $elem_val) -}}
                {{- end -}}  
            {{- else -}}
                {{- if ge $elem_index (mul $order $d) -}}
                    {{- partial "tidb-planet/contributor-item" (dict "contributor" $elem_val) -}}      
                {{- end -}}
            {{- end -}}
        {{- end -}}
    </div>
</div>

