 <div class="space" data-html2canvas-ignore="true">
    <div class="element-planet"></div>
    <div class="element-ellipse animation-twinkle_two"></div>
    <!-- <div class="element-satellite animation-satellite_move"></div>
    <div class="element-meteor animation-meteor_move_one"></div>
    <div class="element-meteor small animation-meteor_move_two"></div>
    <div class="element-meteor extra-small animation-meteor_move_three"></div>
    <div class="element-meteor xxsmall animation-meteor_move_three"></div> -->
    <!-- <div class="element-rocks animation-rocks_move"></div> -->
    <div class="element-star animation-twinkle_one"></div>
    <div class="element-star large animation-twinkle_three"></div>
    <div class="element-star small animation-twinkle_two"></div>
    <div class="element-star extra-small animation-twinkle_one"></div>
    <div class="element-star small position2 animation-twinkle_one"></div>
    <div class="element-cloud large"></div>
    <div class="element-cloud"></div>
    <div class="element-cloud small"></div>
    <div id="meteors"></div>
</div>
<script src="https://download.pingcap.com/js/jquery.min.js"></script>
<script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
<script src="/js/tidb_planet.js"></script>
