 <div class="space">
    <div class="element-planet"></div>
    <div class="element-satellite"></div>
    <div class="element-meteor"></div>
    <div class="element-meteor small"></div>
    <div class="element-meteor extra-small"></div>
    <div class="element-meteor xxsmall"></div>
    <div class="element-rocks"></div>
    <div class="element-star"></div>
    <div class="element-star large"></div>
    <div class="element-star small"></div>
    <div class="element-star extra-small"></div>
    <div class="element-star small position2"></div>
    <div class="element-cloud large"></div>
    <div class="element-cloud"></div>
    <div class="element-cloud small"></div>
</div>
