<div class="instructors__list">
    {{- if eq .type "devcon" -}}
        {{- range $idx, $i := .instructors -}}
        <div class="instructor">
            <div class="intro">
                <p>{{ $i.intro }}</p>
            </div>
            <div class="avatar">
                <img src="{{ $i.image}}" />
            </div>
            <div class="name">{{ $i.name}}</div>
            <div class="company">{{ $i.company}} | {{ $i.title }}</div>
        </div>
        {{- end -}}
    {{- else -}}
        {{- range $idx, $i := .instructors -}}
        <div class="instructor meetup-speakers">
            <div class="intro">
                <p>{{ $i.intro }}</p>
            </div>
            <div class="avatar">
                <img src="{{ $i.image}}" />
            </div>
            <div class="personal-info">
                <div clas="info">
                    <div class="name">{{ $i.name}}</div>
                    <div class="personal-title">{{ $i.title }}</div>
                    <div class="topic">{{ $i.topic }}</div>
                </div>
            </div>
        </div>
        {{- end -}}
    {{- end -}}
</div>