@import '../variables.less';

.devCon {
  padding-top: @headerHeight;

  .devCon__container {
    width: 100%;
  }

  .banner {
    width: 100%;
    min-height: 12rem;
    max-height: 25rem;
    position: relative;
    overflow: hidden;

    .image {
      position: relative;
      width: 100%;
      height: 0;
      padding: calc(30%);

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    .banner__content {
      position: absolute;
      top: 5rem;
      width: 100%;
      text-align: center;

      h1 {
        font-size: 3rem;
        color: white;
      }

      p {
        color: white;
        font-size: 0.8rem;
        padding: 1rem 0;
      }

      button {
        margin-top: 3rem;
        padding: 0.5rem;
        background: #d04e43;
        color: #fff;
        height: 2rem;
        font-size: 0.8rem;
        width: 5.5rem;
        border: none;
        border-radius: 2px;
      }
    }
  }

  .devcon__intro {
    position: relative;
    // max-width: @containerMaxWidth;

    .intro {
      position: absolute;
      top: -4rem;
      background: #fff;
      left: 17rem;
      right: 17rem;
      text-align: left;
      border-radius: 3px;

      p {
        padding: 2rem;
        font-size: 0.8rem;
      }
    }
  }

  .agenda__container {
    max-width: 1124px;
    margin: 0 auto;
    text-align: center;
  }

  .agenda {
    // text-align: center;
    // max-width: 1142px;
    // background: #d04e43;
    position: relative;

    .title {
      color: #d04e43;
      font-size: 1rem;
      padding: 1.5rem;
      position: relative;
    }

    .title::after {
      content: '';
      border-top: 3px solid #d04e43;
      width: 40px;
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -20px;
    }
  }

  .agenda__table {
    padding: 1rem;
    width: 100%;
    color: #1A237E;

    th {
      text-align: left;
      max-width: 10rem;
      min-width: 7rem;
      color: #1A237E;
      padding: 0.5rem 0;
    }

    th:nth-child(1) {
      padding: 0.5rem 1rem;
    }

    tr {
      text-align: left;
      padding: 1rem 0;
    }

    tr:nth-child(2),
    tr:nth-child(13),
    tr:nth-child(21) {
      text-align: left;
      color: white;
      background-color: #1A237E;

      td {
        padding: 0.5rem 0;
      }

      td:nth-child(1) {
        padding-left: 1rem;
      }
    }

    // td {
    //   padding: 0.5rem 0;
    // }

    td:nth-child(1) {
      min-width: 7rem;
      max-width: 10rem;
      padding-left: 1rem;
    }

    td:nth-child(2) {
      min-width: 10rem;
      max-width: 15rem;
    }
  }

  .instructors__container {
    min-height: 10rem;
    width: 100%;
    background-color: #F5F5F5;
  }
}

@media (max-width: 600px) {
  .devCon {
    .banner {
      .banner__content {
        top: 3rem;

        h1 {
          font-size: 2rem;
        }

        p,
        button {
          font-size: 0.7rem;
        }
      }
    }
  }
}