@import '../variables.less';

.devCon {
  padding-top: @headerHeight;

  .devCon__container {
    width: 100%;
  }

  .banner {
    width: 100%;
    min-height: 12rem;
    max-height: 25rem;
    position: relative;
    overflow: hidden;

    .image {
      position: relative;
      width: 100%;
      height: 0;
      padding: calc(30%);

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    .banner__content {
      position: absolute;
      top: 5rem;
      width: 100%;
      text-align: center;

      h1 {
        font-size: 3rem;
        color: white;
      }

      p {
        color: white;
        font-size: 0.8rem;
        padding: 1rem 0;
      }

      button {
        margin-top: 3rem;
        padding: 0.5rem;
        background: #d04e43;
        color: #fff;
        height: 2rem;
        font-size: 0.8rem;
        width: 5.5rem;
        border: none;
        border-radius: 2px;
      }
    }
  }

  .devcon__intro {
    position: relative;
    // max-width: @containerMaxWidth;

    .intro {
      position: absolute;
      top: -4rem;
      background: #fff;
      left: 17rem;
      right: 17rem;
      text-align: left;
      border-radius: 3px;

      p {
        padding: 2rem;
        font-size: 0.8rem;
      }
    }
  }

  .agenda__container {
    max-width: 1124px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
  }

  .title {
    color: #d04e43;
    font-size: 1rem;
    padding: 1.5rem;
    position: relative;
  }

  .title::after {
    content: '';
    border-top: 3px solid #d04e43;
    width: 40px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 1.2rem;
  }

  .agenda__table {
    padding: 10px;
    width: 100%;
    color: #1A237E;
    font-size: 0.8rem;

    th {
      text-align: left;
      max-width: 10rem;
      min-width: 7rem;
      color: #1A237E;
      padding: 0.5rem 0;
    }

    th:nth-child(1) {
      padding: 0.5rem 1rem;
    }

    tr {
      text-align: left;
      padding: 1rem 0;
    }

    td {
     padding: 0.2rem;
    }

    tr:nth-child(2),
    tr:nth-child(13),
    tr:nth-child(21) {
      text-align: left;
      color: white;
      background-color: #1A237E;

      td {
        padding: 0.5=rem 0;
      }

      td:nth-child(1) {
        padding-left: 1rem;
      }
    }

    // td {
    //   padding: 0.5rem 0;
    // }

    td:nth-child(1) {
      min-width: 7rem;
      max-width: 10rem;
      padding-left: 1rem;
    }

    td:nth-child(2) {
      min-width: 10rem;
      max-width: 15rem;
    }
  }

  .instructors__container {
    background-color: #F5F5F5;
  }

  .instructors {
    // min-height: 10rem;
    max-width: 1124px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
  }

  .instructors__list {
    margin: 0 auto;
    max-width: 1380px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .instructor {
    position: relative;
    display: block;
    margin: 10px;
    border-radius: 2px;
    width: calc(~"100% / 4 - 20px");
    height: 0;
    padding-bottom: calc(27%);
    color: #666;
    background-color: white;
    cursor: pointer;
    // flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 2px 0 #DDDDDD;

    .avatar {
      position: relative;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .intro {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(26,35,126, 0.9);
        transition: opacity 0.5s;
        font-size: 0.7rem;
        padding: 2rem;
      }
    }

    .name {
      color: #3C3C3C;
      padding: 0.4rem 0 0;
    }

    .company,
    .position {
      color: #6c6c6c;
      font-size: .7rem;
      padding: 0.5rem 0 1rem 0;
    }

    &:hover {
      box-shadow: 5px 5px 20px #DDDDDD;
      transition: box-shadow 0.2s ease-in-out;

      .avatar {
        .intro {
          opacity: 1;
        }
      }
    }
  }

  .contact__container {
    max-width: 1124px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 4rem;

    .map {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .devCon {
    .instructor {
      width: calc(~"100% / 3 - 20px");
      height: 0;
      padding-bottom: calc(36%);

      .name {
        padding: 0.7rem 0 0;
      }
    }
  }
}

@media (max-width: 700px) {
  .devCon {
    .banner {
      .banner__content {
        top: 3rem;

        h1 {
          font-size: 2rem;
        }

        p,
        button {
          font-size: 0.7rem;
        }
      }
    }

    .contact__container {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .devCon {
    .instructor {
      width: calc(~"100% / 2 - 20px");
      height: 0;
      padding-bottom: calc(55%);

      .avatar .intro {
        padding: 1rem;
      }

      .name {
        padding: 0.4rem 0 0;
      }

      .company {
        font-size: 0.8rem;
        padding: 0.3rem 0 1rem 0;
      }
    }
  }
}

@media (max-width: 360px) {
  .devCon {
    .instructor {
      width: calc(~"100% - 20px");
      height: 0;
      padding-bottom: calc(100%);

      // .avatar .intro {
      //   padding: 1rem;
      // }

      // .name {
      //   padding: 0.4rem 0 0;
      // }

      // .company {
      //   font-size: 0.8rem;
      //   padding: 0.3rem 0 1rem 0;
      // }
    }
  }
}