@import './common-style.less';

.developer-banner {
  padding-top: 37%;
  background: url('/images/community/banners/developer-group-banner-pc.jpg') no-repeat;
}

.developer-banner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  .content {
    position: absolute;
    top: 50%;
    margin-top: -7rem;
    color: white;
    padding-left: 4rem;

    h1 {
      color: white;
      font-size: 2.8rem;
    }

    p {
      font-size: 1rem;
      width: 50%;
      padding-top: 2rem;
    }
  }
}

.role-card {
  margin: 5rem;
  background-color: #F5F6F8;

  .header {
    background-color: #2977C7;
    color: white;
    padding: 15px 40px;
    border-radius: 10px 10px 0 0;
  }

  .desc {
    padding: 25px 40px;
    font-size: 16px;
    line-height: 1.7;
  }

  .detail {
    padding: 0 40px 20px;
    font-size: 16px;

    .title {
      color: #2977C7;
    }

    .dot-blue {
      color: #2977C7;

      ul.lists {
          color: #3e3e3e;
      }
    }

    .lists {
        padding: 10px 20px;
        line-height: 1.7;
    }
  }
}

.expand {
    &::before {
        content: '-' !important;
    }
}

.question {
  padding: 0 25px;

  &::before {
    content: '+';
    color: #2977c7;
    position: relative;
    margin-right: 15px;
  }
}

.answer {
  display: none;
  font-size: 16px;

  li {
    line-height: 1.7;
  }
}

.pr-content,
.guide-content {
  font-size: 16px;
  text-align: left;
  line-height: 1.7;
  padding: 0 3rem 0 3rem;

  p {
    font-size: 16px;
    padding: 1rem 0;

    a {
      color: #2977C7;

      &:hover {
        color: #053DA6;
      }
    }
  }

  li {
    font-size: 16px;
  }

  ul {
    padding-inline-start: 20px;
    padding-bottom: 1rem;
  }
}

@media (max-width: 1024px) {
  .developer-banner-container {
    .content {
      padding-left: 2rem;
      margin-top: -6rem;

      h1 {
        color: white;
        font-size: 2rem;
      }

      p {
        font-size: 0.8rem;
        padding-top: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .developer-banner {
    padding-top: 62%;
    background: url('/images/community/banners/developer-group-banner-mobile.jpg') no-repeat;
  }

  .developer-banner-container {
    .content {
      padding-left: 1rem;

      h1 {
        color: white;
        font-size: 1rem;
      }

      p {
        font-size: 0.8rem;
        padding-top: 0.8rem;
      }
    }
  }

  .role-card {
      margin: 2rem 20px;

      .header {
        padding: 15px 20px;
      }

      .desc {
          padding: 25px 20px;
      }

      .detail {
          padding: 0 5px 20px;
      }
  }
}
