// import global variables
@import '../variables.less';
@import './devcon2019.less';

// header .container {
//   max-width: 1288px;
//   height: 60px;
// }

.container {
  max-width: 1124px;
}

.contact-us {
  padding-top: @headerHeight;
}

.banner__section {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.section-title {
  color: #053DA6;
  font-size: 1.1rem;
  padding: 1.5rem;
  font-weight: 600;
  position: relative;
}

.section-title::after {
  content: '';
  border-top: 3px solid #053DA6;
  width: 40px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 1.2rem;
}

.content__container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  .content {
    max-width: 1124px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 3.5rem 0;
    font-size: 1.5rem;
    color: #fff;
  }
}

.organization__section {
  text-align: center;

  .intro {
    max-width: 33rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    font-size: .8rem;
    line-height: 1.7;
  }

  .committer__detail,
  .be__committer,
  .contributor__detail {
    display: flex;
    flex: row wrap;

    .c-title {
      // font-size: 0.9rem;
      font-size: 0.8rem;
      font-weight: 600;
      // min-width: 250px;
    }

    .committer-members {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: left;
      margin: 1rem 0 2rem;

      .c-member {
        width: 180px;
        // height: auto;
        height: 230px;
        box-shadow: 0 2px 5px #DDDDDD;
        margin: 0.5rem;


        img {
          width: 100%;
          height: 100%;
        }

        .name {
          margin: 0.2rem;
          font-size: 0.75rem;
          // font-size: 15px;
          line-height: 1.7;
          text-align: center;
        }

        .company {
          text-align: center;
          margin: 0.2rem;
          font-size: 0.65rem;
          // font-size: 13px;
          line-height: 1.7;
        }
      }
    }
  }

  .contributor__detail {
    margin: 6rem 0 2rem 0;
    text-align: left;
  }

  .committer-btn,
  .contributor-btn {
    // min-width: 250px;
    text-align: center;
    margin: 0 1rem;

    button {
      color: #fff;
      width: 150px;
      padding: 15px 15px 15px 35px;
      font-size: .8rem;
      position: relative;
      background: none;

      span {
        position: absolute;
        top: 50%;
        left: 14px;
        margin-top: -10px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .committer-btn button {
    border: 1px solid #3A58F0;
    background: #3A58F0;
  }

  .contributor-btn button {
    border: 1px solid #d04e43;
    background: #d04e43;
  }

  .contributor__detail::before {
    content: '';
    width: 100%;
    max-width: 1124px;
    display: block;
    position: absolute;
    border-top: 1px solid #848dc4;
    margin: -3.5rem 0 0 0;
  }
}

.architecture {
  width: 100%;
  height: auto;
  // margin: 100px 0 150px 0;
  // padding: 0 4rem;
  padding: 100px 50px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .head-node,
  .pmc,
  .developer-group,
  .committee,
  .maintainer,
  .committer,
  .contributor,
  .member {
    border: 1px solid#3a58f0;
    color: #3a58f0;
    // padding: 15px;
    background: white;
    font-size: .8rem;
    position: absolute;
    padding: 14px 14px 14px 45px;

    span {
      position: absolute;
      top: 50%;
      left: 11px;
      margin-top: -10px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .developer-group,
  .head-node {
    padding: 0.7rem;
    left: 50%;
  }

  .pmc,
  .maintainer {
    left: 10px;
  }

  .committee,
  .member {
    right: 10px;
  }

  .maintainer,
  .member {
    bottom: 0;
    // right: ;
  }

  .committer {
    // margin-left: -230px;
    background: #3a58f0;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 3px 8px rgb(167, 167, 167);
    }
  }

  .contributor {
    // margin-left: 80px;
    background: #D04E43;
    border: #D04E43;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 0 3px 8px rgb(167, 167, 167);
    }
  }

  .tooltip {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    background: black;
    opacity: .75;
    padding: .5rem;
    left: 50%;
    font-size: 13px;
    max-width: 12rem;
    color: #fff;
    margin-left: -430px;
    // border-radius: 10px;
  }

  // .tooltip::before {
  //   // position: absolute;
  //   width: 20px;
  //   height: 20px;
  //   transform: rotate(45deg);
  //   background: white;
  //   opacity: 0.9;
  //   bottom: -50px;
  //   z-index: 100;
  // }

  .arrow {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    margin-left: -440px;
    width: 20px;
    left: 50%;
    height: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #000;
    opacity: .9;
    z-index: 100;
  }
}

.c-content,
.pr-content,
.guide-content {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.8;
  padding: 0 3rem 0 3rem;

  p {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }

  li {
    font-size: 0.8rem;
  }

  ul {
    padding-inline-start: 20px;
    padding-bottom: 1rem;
  }
}

.subtitle-pr,
.subtitle-guide {
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;

  #pr-collapse,
  #guide-collapse {
    width: 15px;
    display: inline-block;
  }
}

.pr-content,
.guide-content {
  padding: 0 0 0 2rem;
  margin-bottom: 1rem;
  display: none;
}

.appreciation__section {
  text-align: center;
  background: #F5F5F5;

  .appreciation__content {
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 2rem;

    .image {
      width: 355px;
      height: 250px;
      display: inline-block;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      width: calc(~'100% - 355px');
      height: 250px;
      background: #1A237E;
      color: white;
      display: inline-block;
      float: right;
      padding: 1.5rem;
      line-height: 1.7;
      font-size: 0.75rem;
    }
  }
}

.contributor__section {
  .goPlanet {
    margin: 0 auto;
    text-align: center;

    button {
      border: 1px solid #3a5af0;
      color: #3a5af0;
      width: 260px;
      font-size: 0.8rem;
      padding: 14px;
      margin-top: 3rem;
      background: none;
      position: relative;
      cursor: pointer;

      .arrow {
        width: 16px;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 2px;
        margin-top: -0.4rem;
        transition: all 0.3s ease;
      }

      .content {
        transition: all 0.3s ease;
      }

      &:hover {
        .arrow {
          opacity: 1;
          left: 16px;
        }

        .content {
          padding: 14px 0 14px 20px;
        }
      }
    }
  }

  .planet-banner {
    width: 100%;
    max-width: 700px;
    margin: 2.5rem auto 4rem;
    padding: 0 1.5rem;
    text-align: center;
    border: none;
    position: relative;

    img {
      width: 100%;
      height: auto;
      transition: all 0.2s ease;
    }

    &:hover {
      img {
        box-shadow: 0 0 12px 0 rgb(184, 184, 184);
        transform: translateY(-2px);
      }
      }
  }
}

@media (max-width: 768px) {
  .organization__section {
    .committer__detail,
    .contributor__detail,
    .be__committer {
      display: block;

      .c-title {
        margin: 2rem 0;
        font-size: 0.9rem;
      }
    }

    .committer-btn,
    .contributor-btn {
      margin: 2rem;

      button {
        width: 120px;
        padding: 10px 0 10px 30px;

        span {
          left: 10px;
        }
      }
    }
  }

  .c-content,
  .pr-content,
  .guide-content {
    padding: 0 1.5rem;
  }

  .appreciation__section {
    .appreciation__content {
      margin: 0 1.5rem;
      padding: 1.5rem 0 2rem;
    }
  }
}

@media (max-width: 600px) {
  .appreciation__section {
    .appreciation__content {
      margin: 0 1.5rem;
      padding: 1.5rem 0 2rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .image {
        width: 100%;
        height: auto;
      }

      .content {
        min-width: 140px;
        width: 100%;
        height: auto;
      }
    }
  }

  .contributor__section .goPlanet button {
    width: 220px;

    .arrow {
      width: 12px;
    }
  }
}