<div class="meetup-carousel">
    <div class="swiper-container">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
            {{- range $idx, $i := .Site.Data.meetup.next_meetup -}}
                <div class="swiper-slide">
                    <a href="https://pingcap.com">
                        <p class="topic">{{ $i.topic }}</p>
                        <div class="address">{{ $i.addr }}</div>
                        <div class="date">{{ $i.date }}</div>
                    </a>
                </div>
            {{- end -}}
        </div>
    </div>
</div>