@import "./variables.less";

.modal.active {
  .modal-header {
    visibility: visible;
  }
}

.modal-header {
  background: @themeBlue;
  width: 100%;
  max-width: 960px;
  height: 45px;
  border-radius: 5px 5px 0 0;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  backface-visibility: hidden;
  transition: all @speed @easing 0.3s;
  z-index: 2;

  .github-logo {
    height: 100%;
    margin-left: 33.5px;
    float: left;
    margin-right: 20px;
  }

  .header-text {
    height: 100%;
    width: 75%;
    display: inline-block;
    padding-top: 13px;
  }
}

.contributor-lists {
  display: flex;
  flex-flow: row wrap;
  margin-top: 73px;
  z-index: 1;
}

.contributor-item {
  width: 45%;
  height: 36px;
  min-width: 300px;
  margin-bottom: 10px;
  margin-left: 3.33%;
  position: relative;

  .github-avatar {
    height: 100%;
    width: 36px;
    float: left;
  }

  .contributor-info {
    height: 100%;
    margin-left: 50px;
    background: #F5F5F5;

    .contributor-name {
      float: left;
      margin-top: 2.5%;
      height: 100%;
      margin-left: 24px;

      a {
        text-decoration: none;
      }
    }

    .clearfix::after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .contribution-degree {
      float: right;
      margin-top: 3.3%;
      height: 100%;
      margin-right: 24px;
      color: black;
    }
  }
}

@media (max-width: 720px) {
  .contributor-lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
