@import "./variables.less";

.modal-header {
  background: @themeBlue;
  height: 45px;
  margin-bottom: 28px;
  // position: fixed;

  .github-logo {
    height: 100%;
    margin-left: 33.5px; 
    float: left; 
    margin-right: 20px;
  }

  .header-text {
    height: 100%; 
    width: 75%; 
    display: inline-block; 
    padding-top: 13px;
  }
}

.contributor-lists {
  display: flex;
  flex-flow: row wrap;
}

.contributor-item {
  width: 45%;
  height: 36px;
  min-width: 300px;
  margin-bottom: 10px;
  margin-left: 3.33%;
  position: relative;
  

  .github-avatar {
    height: 100%;
    width: 36px;
    background: red;
    float: left;

    // .img {
    //   height: 100%;
    //   width: 100%;
    // }
  }

  .contributor-info {
    height: 100%;
    margin-left: 50px;
    background: #F5F5F5;

    .contributor-name {
      float: left;
      margin-top: 2.5%;
      height: 100%;
      margin-left: 24px;

      a {
        text-decoration: none;
      }
    }

    .clearfix::after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .contribution-degree {
      float: right;
      margin-top: 3.3%;
      height: 100%;
      margin-right: 24px;
      color: black;
    }
  }
}

@media (max-width: 720px) {
  .contributor-lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}