@import "./variables.less";

.modal.active {
  .modal-header {
    visibility: visible;
  }
}

.modal-header {
  background: @themeBlue;
  width: 100%;
  max-width: 960px;
  height: 45px;
  border-radius: 5px 5px 0 0;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  backface-visibility: hidden;
  transition: all @speed @easing 0.3s;
  z-index: 2;

  .github-logo {
    height: 100%;
    margin-left: 33.5px;
    float: left;
    margin-right: 20px;
  }

  .header-text {
    height: 100%;
    width: 75%;
    display: inline-block;
    padding-top: 13px;
  }
}

.contributor-list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 73px;
  z-index: 1;
}

.contributor-item {
  width: 45%;
  height: 36px;
  min-width: 300px;
  margin-bottom: 10px;
  margin-left: 3.33%;

  .github-avatar {
    height: 36px;
    width: 36px;
    float: left;
  }

  .contributor-info {
    height: 36px;
    margin-left: 50px;
    background: #f5f5f5;

    &::after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .contributor-name {
      float: left;
      height: 36px;
      line-height: 36px;
      margin-left: 24px;

      a {
        text-decoration: none;
      }
    }

    .contribution-degree {
      float: right;
      height: 36px;
      line-height: 36px;
      margin-right: 24px;
      color: black;

      .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #8d8d8d;
      }

      &[data-degree='1'],
      &[data-degree='2'],
      &[data-degree='3'],
      &[data-degree='4'] {
        .dot-1{
          background: #d6e588;
        }
      }

      &[data-degree='2'],
      &[data-degree='3'],
      &[data-degree='4'] {
        .dot-2{
          background: #8bc669;
        }
      }

      &[data-degree='3'],
      &[data-degree='4'] {
        .dot-3{
          background: #3ea541;
        }
      }

      &[data-degree='4'] {
        .dot-4{
          background: #1c6825;
        }
      }
    }
  }
}

.modal-contributors {
  width: 90%;
  height: 80%;
}

@media (max-width: 768px) {
  .contributor-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .contributor-item {
      margin-left: 0;
    }
  }
}

@media (max-width: 360px) {
  .contributor-list {
    .contributor-item {
      margin-left: 0;
      min-width: 270px;
    }
  }
}
