.popup {
  position: absolute;
  width: 22em;
  min-height: 3em;
  left: 50%;
  top: -22em;
  margin-left: 11em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);

  &::before {
    content: '';
    position: absolute;
    left: -14px;
    top: 1.2em;
    border-style: solid;
    border-width: 10px 14px 10px 0;
    border-color: rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  }

  .close {
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 13px;
      width: 13px;
      top: 16px;
      right: 11px;
      border-top: 2px solid #7c7c7c;
      transform: rotate(-45deg);
    }

    &::before {
      right: 20px;
      transform: rotate(45deg);
    }
  }

  .popup-content {
    width: 100%;
    padding: 1em 1.5em;
    overflow: hidden;
    color: #1E2969;

    p {
      line-height: 1.5;
    }
  }

  .link {
    margin-top: 0.8em;
    color: #3A58F0;
    text-decoration: none;
  }
}

/**
 * Mobile  Styling
 */
@media only screen and (max-width: 768px) {
  .popup {
    margin-left: -11em;

    &::before {
      display: none;
    }
  }
}
