@import "../variables.less";

/**
 * Include Roboto Condensed font
 */

/* Normal */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("https://download.pingcap.com/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format('truetype');
}

/* Bold */
@font-face {
	font-family: "Roboto Condensed Bold";
	font-style: normal;
	font-weight: 600;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("https://download.pingcap.com/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf") format('truetype');
}

/**
 * Variables
 */
@speed: 0.6s;
@delay: (@speed * .5);
@easing: cubic-bezier(.55, 0, .1, 1);
@lightBlue: rgba(58, 88, 240, 0.5);
@borderRadius: 5px;
