// TiDB Planet Pages

@import "./tidb-planet/variables.less";
@import "./tidb-planet/ui.less";
@import "./tidb-planet/elements.less";
@import "./tidb-planet/modal.less";
@import "./tidb-planet/popup.less";
// @import "./tidb-planet/user-info.less";
// @import "./tidb-planet/contributor-list.less";

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: radial-gradient(#172d72, #120e34) center no-repeat;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto Condensed', Helvetica;
}

body,
body * {
  box-sizing: @boxSize;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

.j-click {
  cursor: pointer;
}

.space,
.tidb-planet,
div[class^="element-"] {
  position: absolute;
}

.tidb-planet {
  width: 120%;
  height: 120%;
  top: 60%;
  left: -10%;
  background: url('/images/tidb-planet/grey-planet.svg') no-repeat;
  background-size: cover;
}

.space {
  width: 100%;
  height: 100%;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);

  &::before {
    content: 'Start!';
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: 18em;
    font-size: 1.2em;
    color: #fff;
    animation: bounce 2s linear infinite;
  }
}

/**
 * Mobile Only Styling
 */
@media only screen and (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}

/**
 * Mobile  Styling
 */
@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
    overflow: hidden;
  }

  .nav {
    display: none;
  }

  .tidb-planet {
    background-position: center;
  }

  .mask::before {
    margin-left: 7.5em;
  }
}

// x-small screen
@media only screen and (max-width: 320px) {
  html,
  body {
    font-size: 12px;
    overflow: hidden;
  }

  .mask::before {
    top: 42%;
  }
}
