
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>{{ block "title" . }}{{- .Title -}}{{ end }} | TiDB Planet</title>
    {{- partial "head/ga" . -}}
    {{- partial "head/meta-seo" . -}}
    {{- partial "head/preload-css" (dict "href" "/css/tidb-planet.css") -}}
</head>

<body>
    <div>
        {{- partial "tidb-planet/nav" . -}}
        {{- partial "tidb-planet/space" . -}}
        
        <div class="tidb-planet">
            <div class="element-rocket j-open-popup j-click">
                <div class="popup top j-popup j-fadeOutSlowly">
                    <div class="popup-content clearfix">
                        <p>On August 24, 2018, TiDB 2.1 RC1 is released! </p>
                        <a class="link f-fr j-readmore" href="https://pingcap.com/docs/releases/21rc1/" title="Release Note" target="_blank">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="/tidb-planet/robot">
          <div class="element-back-arrow animation-back_arrow"></div>
        </a>
        <a href="/tidb-planet">
            <div class="element-forward-arrow animation-forward_arrow"></div>
        </a>
    </div>
    <script src="https://download.pingcap.com/js/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <script src="/js/tidb_planet.js"></script>
</body>

</html>
