{{- define "title" -}}
    {{ $.Scratch.Set "metaTitle" "DevCon2019" }}
    Devcon2019
{{- end -}}

{{- define "headTpl" -}}
    {{ $.Scratch.Set "data_i18_cn" true }}
    {{- partial "head/preload-css" (dict "href" "/css/community/devcon2019.css") -}}
{{- end -}}

{{- define "main" -}}
<div class="devCon">
    <div class="devCon__container">
        <div class="banner">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1504596217249-cef2ad2d6b53?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8dfb32f036708ffc0fe9b716e18ed0a2&auto=format&fit=crop&w=2689&q=80" />
            </div>
            <div class="banner__content">
                <h1>TiDB DevCon 2019</h1>
                <p>2019 年 1 月 19 日   |  北京市 朝阳区 北服中关村时尚产业创新园 二层  |  PingCAP 主办</p>
                <button>立即报名</button>
            </div>
        </div>

        <!-- <div class="devcon__intro">
            <div class="intro">
                <p>
                  这里有： TiDB 项目及社区的最新进展及未来方向；一线用户分享的 TiDB 实践经验；以及 TiDB
                  项目负责人分享的技术细节。希望这一场纯粹的技术分享盛宴，能够让大家感受到开源社区开放、共享、自由的精神，以及创造无限可能的快感。这里有： TiDB 项目及社区的最新进展及未来方向；一线用户分享的 TiDB 实践经验。
                </p>
            </div>
        </div> -->
        <div class="bodySection">
          <div class="devCon_body">
            <div class="agenda">
              This is Agenda
            </div>
          </div>
        </div>
        
    </div>
</div>
{{- end -}}