{{- define "title" -}}
    {{ $.Scratch.Set "metaTitle" "DevCon2019" }}
    Devcon2019
{{- end -}}

{{- define "headTpl" -}}
    {{ $.Scratch.Set "data_i18_cn" true }}
    {{- partial "head/preload-css" (dict "href" "/css/community/devcon2019.css") -}}
{{- end -}}

{{- define "main" -}}
<div class="devCon">
    <div class="devCon__container">
        <div class="banner">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1504596217249-cef2ad2d6b53?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8dfb32f036708ffc0fe9b716e18ed0a2&auto=format&fit=crop&w=2689&q=80" />
            </div>
            <div class="banner__content">
                <h1>TiDB DevCon 2019</h1>
                <p>2019 年 1 月 19 日   |  北京市 朝阳区 北服中关村时尚产业创新园 二层  |  PingCAP 主办</p>
                <button>立即报名</button>
            </div>
        </div>

        <!-- <div class="devcon__intro">
            <div class="intro">
                <p>
                  这里有： TiDB 项目及社区的最新进展及未来方向；一线用户分享的 TiDB 实践经验；以及 TiDB
                  项目负责人分享的技术细节。希望这一场纯粹的技术分享盛宴，能够让大家感受到开源社区开放、共享、自由的精神，以及创造无限可能的快感。这里有： TiDB 项目及社区的最新进展及未来方向；一线用户分享的 TiDB 实践经验。
                </p>
            </div>
        </div> -->
        <div class="agenda__container">
          <div class="agenda">
              <h1 class="title">会议日程</h1>
                <table class="agenda__table" border="0" cellspacing="0" cellpadding="0">
                  <tr><th>开始</th><th>结束</th><th>活动内容</th></tr>
                  <tr><td>8:40 am </td><td>9:30 am</td><td>入场签到 领取签到礼包</td></tr>
                  <tr><td>9:30 am </td><td>9:50 am</td><td>开场 by 刘奇</td></tr>
                  <tr><td>9:50 am </td><td>10:10 am</td><td>Talk 1 by 海外讲师 1</td></tr>                  
                  <tr><td>10:10 am </td><td>11:10 am</td><td>社区实践 1</td></tr>
                  <tr><td>8:40 am </td><td>9:30 am</td><td>入场签到 领取签到礼包</td></tr>
                  <tr><td>8:40 am </td><td>9:30 am</td><td>入场签到 领取签到礼包</td></tr>
                  <tr><td></td><td></td><td><ul><li>Talk 2 美团</li></ul></td></tr>
                  <tr><td></td><td></td><td><ul><li>Talk 3 北京银行</li></ul></td></tr>
                  <tr><td></td><td></td><td><ul><li>Talk 4 小米</li></ul></td></tr>
                  <tr><td></td><td></td><td><ul><li>Talk 5 华为</li></ul></td></tr>
                  <tr><td>11:10 am</td><td>11:50 am</td><td>Talk 6 申砾    // 技术特性 + Roadmap</td></tr>
                  <tr><td>11:30 am</td><td>13:30 pm</td><td>午餐</td></tr>
                  <tr><td>13:20 pm </td><td>14:00 pm</td><td>Talk 7 by 崔秋    // 社区 + 荣誉时刻 （团队 or 个人）</td></tr>
                  <tr><td>14:00 pm </td><td>15:00 pm</td><td>Talk 1 by 海外讲师 1</td></tr>                  
                  <tr><td>10:10 am </td><td>11:10 am</td><td>社区实践 2</td></tr>
                  <tr><td></td><td></td><td><ul><li>Talk 8 微众银行</li></ul></td></tr>
                  <tr><td></td><td></td><td><ul><li>Talk 9 格力</li></ul></td></tr>
                  <tr><td></td><td></td><td><ul><li>Talk 10 转转</li></ul></td></tr>
                  <tr><td></td><td></td><td><ul><li>Talk 11 天翼支付</li></ul></td></tr>
                  <tr><td>15:00 pm</td><td>15:20 pm</td><td>休息</td></tr>
                  <tr><td>15:20 pm </td><td>16:20 pm</td><td>Demo Show</td></tr>
                  <tr><td>16:20 pm </td><td>16:40 pm</td><td>Talk 12 by 海外讲师 2</td></tr>                  
                  <tr><td>16:40 am </td><td>17:00 am</td><td>收尾 Talk by 黄东旭</td></tr>
                </table>
          </div>
        </div>

        <div class="instructors__container">
          this is instructor list
        </div>
        
    </div>
</div>
{{- end -}}