{{- define "title" -}}
    {{ $.Scratch.Set "metaTitle" "DevCon2019" }}
    Devcon2019
{{- end -}}

{{- define "headTpl" -}}
    {{ $.Scratch.Set "data_i18_cn" true }}
    {{- partial "head/preload-css" (dict "href" "/css/community/devcon2019.css") -}}
    <style type="text/css">
      .amap-logo,
      .amap-copyright {
        display: none !important;
      }

      .amap-icon img {
        width: 100%;
        height: 100%;
        overflow: visible;
      }
    </style>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
    <script type="text/javascript" src="/js/devcon.js"></script>
    <!-- Begin bai_du map -->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=5943f0161bc8beb9f40b4f652faf648f&callback=init"></script>
    <script type="text/javascript">
      function init() {
        var map = new AMap.Map('map', {
          zoomEnable: false,
          zoom: 15,
          center: [116.436266,39.980987],
          mapStyle: 'amap://styles/light' //样式URL
        })
        //添加点标记，并使用自己的icon
        new AMap.Marker({
          map: map,
          position: [116.436266,39.980987],
          icon: new AMap.Icon({
            size: new AMap.Size(32, 32), //图标大小
            image: '/images/svgs/location.svg'
          })
        })
      }
    </script>
    <!-- End bai_du map -->
{{- end -}}

{{- define "main" -}}
{{- partial "layout/devcon-nav.html" . -}}
<div class="devCon">
    <div class="devCon__container">
        <div class="banner">
            <div class="image">
                <!-- <img src="https://images.unsplash.com/photo-1526234172573-67cabe4ebc80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /> -->
                <img src="/images/community/devcon-banner.png" />
            </div>
            <!-- <div class="banner__content">
                <h1>TiDB DevCon 2019</h1>
                <p>2019 年 1 月 19 日 |  北京市 朝阳区 北服中关村时尚产业创新园 二层  |  PingCAP 主办</p>
                <button>立即报名</button>
            </div> -->
        </div>

        <div class="agenda__container">
            <div class="content">
                <p>
                  这里有： TiDB 项目及社区的最新进展及未来方向；一线用户分享的 TiDB 实践经验；以及 TiDB
                  项目负责人分享的技术细节。希望这一场纯粹的技术分享盛宴，能够让大家感受到开源社区开放、共享、自由的精神，以及创造无限可能的快感。这里有： TiDB 项目及社区的最新进展及未来方向；一线用户分享的 TiDB 实践经验。
                </p>
            </div>
            <h1 class="title agenda-title">会议日程</h1>
            <table class="agenda__table" border="0" cellspacing="0" cellpadding="0">
              <tr><th>开始</th><th>结束</th><th>活动内容</th></tr>
              <tr><td>8:40 am </td><td>9:30 am</td><td>入场签到 领取签到礼包</td></tr>
              <tr><td>9:30 am </td><td>9:50 am</td><td>开场 by 刘奇</td></tr>
              <tr><td>9:50 am </td><td>10:10 am</td><td>Talk 1 by 海外讲师 1</td></tr>                  
              <tr><td>10:10 am </td><td>11:10 am</td><td>社区实践 1</td></tr>
              <tr><td></td><td></td><td><ul><li>Talk 2 美团</li></ul></td></tr>
              <tr><td></td><td></td><td><ul><li>Talk 3 小米</li></ul></td></tr>
              <tr><td></td><td></td><td><ul><li>Talk 4 新东方</li></ul></td></tr>
              <tr><td></td><td></td><td><ul><li>Talk 5 华为</li></ul></td></tr>
              <tr><td>11:10 am</td><td>11:50 am</td><td>Talk 6 申砾</td></tr>
              <tr><td>11:30 am</td><td>13:30 pm</td><td>午餐</td></tr>
              <tr><td>13:20 pm </td><td>14:00 pm</td><td>社区荣誉时刻</td></tr>
              <tr><td>14:00 pm </td><td>15:00 pm</td><td>社区实践 2</td></tr>   
              <tr><td></td><td></td><td><ul><li>Talk 8 北京银行</li></ul></td></tr>
              <tr><td></td><td></td><td><ul><li>Talk 9 微众银行</li></ul></td></tr>
              <tr><td></td><td></td><td><ul><li>Talk 10 B站</li></ul></td></tr>
              <tr><td></td><td></td><td><ul><li>Talk 11 中证登</li></ul></td></tr>
              <tr><td>15:00 pm</td><td>15:20 pm</td><td>休息</td></tr>
              <tr><td>15:20 pm </td><td>16:20 pm</td><td>Demo Show （3 - 4 个）</td></tr>
              <tr><td>16:20 pm </td><td>16:40 pm</td><td>Talk 12 by 海外讲师 2</td></tr>                  
              <tr><td>16:40 am </td><td>17:00 am</td><td>Talk by 黄东旭</td></tr>
            </table>
        </div>

        <div class="instructors__container">
            <div class="instructors">
                <h1 class="title">讲师介绍</h1>
                <div class="instructors__list">
                    {{- range $idx, $i := .Site.Data.devcon2019.instructors -}}
                        <!-- {{ printf "%#v" $i}} -->
                        <div class="instructor">
                          <div class="avatar">
                              <img src="{{ $i.image}}" />
                              <!-- <div class="overlay"></div> -->
                              <div class="intro">{{ $i.intro }}</div>
                          </div>
                          <div class="name">{{ $i.name}}</div>
                          <div class="company">{{ $i.company}} | {{ $i.title }}</div>
                          <!-- <div class="position"></div> -->
                          <!-- <div class="intro">{{ $i.intro }}</div> -->
                        </div>
                    {{- end -}}
                </div>
            </div>
        </div>

        <div class="contact__container">
            <h1 class="title">参会地址</h1>
            <div class="address__guide">
                <div class="guide">地址 
                    <div class="guide-detail">北京市 朝阳区 樱花园东街甲 2 号 北服
                    中关村时尚产业创新园 二层</div>
                </div>
                <div class="guide">驾车路线
                    <div class="guide-detail">导航搜索 “北京服装学院北 1 门”   校区内有<strong>收费</strong>停车场，停车位充足</div>
                </div>
                <div class="guide">地铁路线
                    <div class="guide-detail">13 号线 / 10 号线 芍药居站 A 西口出  步行 900 米，至北京服装学院北 1 门进入</div>
                </div>
                <div class="guide">提示
                    <div class="guide-detail">校区大门有门禁，需要刷身份证入场，请大家携带好个人身份证</div>
                </div>
            </div>
            <div id="map" class="map" style="width: clac(100% - 20px); height: 340px;"></div>
        </div>

        <div class="volunteer__container">
            <div class="volunteers">
                <h1 class="title">志愿者招募</h1>
                <div class="recruit">本次大会也面向社区技术爱好者，开放志愿者申请通道，参与活动现场支持。如果你想近距离接触技术大咖，
                    体验会议氛围，那就联系 TiDB Robot（<span>微信号：tidbai</span>）报名吧～
                    志愿者还可以获得 TiDB DevCon 2019 定制帽衫哦！
                </div>
                <div class="image">
                   <img src="/images/community/teamwork.jpeg" />
                </div>
            </div>
        </div>

        <div class="signup__container">
            <h1 class="title">立即报名</h1>
            <div class="ticket-table"></div>
        </div>
    </div>
</div>
{{- end -}}