{{- define "title" -}}
    {{ $.Scratch.Set "metaTitle" "Community"}}
    Community
{{- end -}}

{{- define "headTpl" -}}
    {{- partial "head/preload-css" (dict "href" "/css/community/homepage.css") -}}
{{- end -}}

{{- define "main" -}}
<div class="community">
    <div class="banner__container">
        <img class="banner" src="/images/community/community-banner.jpg"/>
        <div class="content__con">
            <div class="container">
                <img src="/images/community/TiDB+Community.svg" />
            </div>
        </div>
    </div>
    <div class="container" style="padding: 0 1rem; min-height: 300px;">
        <div class="desc community-desc">
            This is the dedicated TiDB Community page, where you can find the most up to date information on the latest events,
            meetups, conferences, and other activities related to TiDB. Please check back again soon, as we build out the content
            for this page.
        </div>
    </div>
</div>
{{- end -}}


{{- define "footJS"}}
    <script type="text/javascript" src="/js/community.js"></script>
{{- end -}}