{{- define "title" -}}
    {{ $.Scratch.Set "metaTitle" "Community Organization" }}
    Community Organization
{{- end -}}

{{- define "headTpl" -}}
    {{ $.Scratch.Set "data_i18_cn" true }}
    {{- partial "head/preload-css" (dict "href" "/css/community/organization.css") -}}
{{- end -}}

{{- define "main" -}}
<div class="contact-us">
    <div class="banner__section">
        <img class="banner" src="/images/community/organization/community-banner-pc.svg"/>
        <div class="content__container">
            <div class="content"> TiDB 社区组织架构</div>
        </div>
    </div>

    <div class="organization__section">
        <div class="container">
            <div class="title">社区架构</div>
            <div class="intro">一个项目经常会有一个围绕着他的社区这个社区由各自不同角色的用户组成，TiDB 社区主要由以下几个部分：</div>
            <div class="architecture">
                <img src="/images/community/organization/lines.svg">
                <button class="head-node">TiDB Community Organizations</button>
                <button class="pmc">PMC</button>
                <button class="developer-group">Community Developer Group</button>
                <button class="committee">Organizer Committee</button>
                <button class="maintainer">Maintainer</button>
                <button class="committer">Committer</button>
                <button class="contributor">Contributor</button>
                <button class="member">Community Member</button>
            </div>
        </div>
    </div>
    <div class="appreciation__section">
        <div class="container">
            <div class="title">致谢</div>
        </div>
    </div>
    <div class="contributor__section">
        <div class="container">
            <div class="goPlanet"><button>TiDB Contributor 完整名单</button></div>
            <div class="planet-banner">
                <img src="/images/tidb-planet/banner.jpg" />
            </div>
        </div>
    </div>
</div>
{{- end -}}