{{- define "title" -}}
{{ $.Scratch.Set "metaTitle" "TiDB Performance Challenge" }}
TiDB Performance Challenge
{{- end -}}

{{- define "headTpl" -}}
{{ $.Scratch.Set "nav_active" "community" }}
{{ $.Scratch.Set "data_i18_cn" true }}
{{ $.Scratch.Set "data_i18_link" "/community/organization" }}
{{- partial "head/preload-css" (dict "href" "/css/community/tidb-performance-challenge.css") -}}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
/>
{{- end -}}

{{- define "main" -}}
<section class="hero is-medium tpc-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        TiDB 性能挑战赛
      </h1>
      <h2 class="subtitle is-2">
        2019.10.26 - 2020.05.01
      </h2>
      <div class="banner-buttons">
        <button class="button button-tpc button-receive">
          领取任务
        </button>
        <button class="button button-tpc button-details tpc-arrow-button">
          挑战赛细则
        </button>
      </div>
    </div>
  </div>
</section>
<section class="container has-text-centered tpc-readme">
  <h2 class="subtitle tpc-subtitle">性能优化挑战赛</h2>
  <div class="desc">这是一段描述...</div>
  <div class="banner-buttons">
      <button class="button button-tpc button-receive">
        领取任务
      </button>
      <button class="button button-tpc button-details">
        挑战赛细则
      </button>
    </div> 
</section>
<section class="has-text-centered tpc-highlights">
  <h2 class="subtitle tpc-subtitle">大赛亮点</h2>
  <div class="container container-highlights">
    <div class="columns columns-highlights">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h3 class="subtitle">分级赛制</h3>
            <p>
              本次大赛项目采用分级制度，充分照顾入门选手的「easy」模式降低了参赛门槛。让
              TiDB 小白也能快速上手。
            </p>
            <p>
              当选手累计到一定积分后可解锁「medium」与「hard」模式，犹如升级打怪般攻克重重障碍，成就感爆棚！
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card-purple">
          <div class="card-content">
            <h3 class="subtitle">大咖导师</h3>
            <p>
              针对「Medium」和「Hard」
              类型的任务，我们设有专门的导师。参赛者可通过 Slack Channel
              就代码实现过程中遇到的问题进行沟通，保证选手的参赛体验。
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h3 class="subtitle">丰富奖品</h3>
            <p>
              从顶级展会门票到 TiDB
              周边，我们为大家准备了数款奖品，使用完赛项目的积分即可兑换。
            </p>
            <p>除此之外，赛季总积分前三名还有特别定制版证书，满满的荣誉感！</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="button button-details">挑战赛细则</button>
    </div>
  </div>
</section>
<section class="has-text-centered tpc-prize">
  <h2 class="subtitle tpc-subtitle">奖项设置</h2>
  <div class="container container-prize">
    <div class="columns is-mobile is-multiline">
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">7000<sub>分</sub></h3>
            <p class="has-text-weight-bold">TiDB周边书包一个</p>
          </div>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">7000<sub>分</sub></h3>
            <p class="has-text-weight-bold">TiDB周边书包一个</p>
          </div>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">7000<sub>分</sub></h3>
            <p class="has-text-weight-bold">TiDB周边书包一个</p>
          </div>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">7000<sub>分</sub></h3>
            <p class="has-text-weight-bold">TiDB周边书包一个</p>
          </div>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">7000<sub>分</sub></h3>
            <p class="has-text-weight-bold">TiDB周边书包一个</p>
          </div>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">7000<sub>分</sub></h3>
            <p class="has-text-weight-bold">TiDB周边书包一个</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container has-text-centered tpc-study">
  <h2 class="subtitle tpc-subtitle">学习资料</h2>
  <div class="cards-list">
    {{- range $idx, $i := .Site.Data.hackathon.learning_materials_2019 -}}
    <a href="{{ $i.link }}" target="_blank" class="card-item">
      <div class="thumbnail">
        <img
          class="lazy pc-bg"
          data-original="{{ $i.thumbnail_pc }}"
          src="/images/svgs/loader-spinner.svg"
          alt="Cover"
        />
        <img
          class="lazy mobile-bg"
          data-original="{{ $i.thumbnail_mobile }}"
          src="/images/svgs/loader-spinner.svg"
          alt="Cover"
        />
      </div>
      <div class="info">
        <h2 class="has-text-weight-bold">{{ $i.title }}</h2>
        <p>{{ $i.desc }}</p>
      </div>
    </a>
    {{- end -}}
  </div>
</section>
<section class="has-text-centered tpc-ranking">
  <h2 class="subtitle tpc-subtitle">积分排行榜</h2>
  <div class="container">
    <div id="tpc-ranking-switch">
      <div class="first active">赛季积分</div>
      <div class="second">历史积分</div>
    </div>
    <div class="ranking-list">
      <div>
        <div class="medal medal1"></div>
        <div class="github"></div>
        <div class="main">
          <div class="info">
            <div class="name">whoami</div>
            <div class="score">7500</div>
          </div>
          <div class="progress-wrapper">
            <progress class="progress" value="75" max="100">75%</progress>
          </div>
        </div>
      </div>
      <div>
        <div class="medal medal2"></div>
        <div class="github"></div>
        <div class="main">
          <div class="info">
            <div class="name">whoami <span class="team">Team</span></div>
            <div class="score">5000</div>
          </div>
          <div class="progress-wrapper">
            <progress class="progress" value="50" max="100">50%</progress>
          </div>
        </div>
      </div>
      <div>
        <div class="medal medal3"></div>
        <div class="github"></div>
        <div class="main">
          <div class="info">
            <div class="name">whoami <span class="ti"></span> <span class="team">Team</span></div>
            <div class="score">3000</div>
          </div>
          <div class="progress-wrapper">
            <progress class="progress" value="30" max="100">30%</progress>
          </div>
        </div>
      </div>
      <div>
        <div class="index">4</div>
        <div class="github"></div>
        <div class="main">
          <div class="info">
            <div class="name">whoami <span class="ti"></span></div>
            <div class="score">1500</div>
          </div>
          <div class="progress-wrapper">
            <progress class="progress" value="15" max="100">15%</progress>
          </div>
        </div>
      </div>
    <div>
        <div class="index">5</div>
        <div class="github"></div>
        <div class="main">
          <div class="info">
            <div class="name">whoami</div>
            <div class="score">1500</div>
          </div>
          <div class="progress-wrapper">
            <progress class="progress" value="15" max="100">15%</progress>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
{{- end -}}

{{- define "footJS" -}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
  $('.lazy').lazyload({
    effect: 'fadeIn',
    threshold: 200,
  })
</script>
{{- end -}}
